.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}
.label {
  font-size: 25px;
  font-weight: 500;
}

.registerInput {
  padding: 15px;
  background-color: rgb(245, 241, 241);
  border: none;
  border-radius: 7px;
  font-size: 23px;
  font-weight: 500;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(112, 33, 33);
  color: rgb(241, 239, 239);
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  margin-right: 40px;
  width: 300px;
  margin-top: 60px;
  right: 20px;
  font-size: 20px;
  background-color: rgb(102, 23, 9);
  cursor: pointer;
  padding: 3px 0px 3px 0px;
  border: none;
  color: white;
  border-radius: 10px;
}
