.setting {
  display: flex;
}
.settingWrapper {
  flex: 9;
  padding: 20px;
}

.settingTitile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingUpdateTitle {
  font-size: 25px;
  margin-bottom: 21px;
  color: lightseagreen;
}
.settingDeleteTitle {
  color: red;
  font-size: 13px;
  cursor: pointer;
}
.settingForm {
  display: flex;
  flex-direction: column;
}
.settingDP {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.settingDP > img {
  width: 90px;
  height: 90px;
  border-radius: 25px;
  object-fit: cover;
}
.settingDPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightseagreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.settingForm > label {
  font-size: 21px;
  margin-top: 22px;
}
.settingForm > input {
  color: gray;
  margin: 10px 0px;
  height: 30px;
  border: none;
  border-bottom: 2px solid darkgray;
}
.settingSub {
  width: 120px;
  align-self: center;
  padding: 12px;
  border: none;
  border-radius: 11px;
  color: white;
  background-color: teal;
  margin-top: 23px;
}
