.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutImg {
  height: 200px;
  width: 230px;
  object-fit: cover;
}
.sidebarTitle {
  font-size: 12px;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
  width: 85%;
  border-top: 1px solid #e7a6a6;
  border-bottom: 1px solid #e7a6a6;
  font-family: "Varela Round", sans-serif;
  line-height: 22px;
  text-align: center;
}
.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > p {
  padding: 10px;
}
.sidebarList {
  list-style: none;
  margin-bottom: 23px;
}
.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarIcon {
  font-size: 26px;
  margin-left: 8px;
  cursor: pointer;
}
