.singlepost {
  flex: 9;
}
.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}
.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 29px;
}
.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 29px;
  text-align: center;
  border: none;
  color: darkgrey;
  border-bottom: 1px solid grey;
}
.singlePostTitleInput:focus {
  outline: none;
}
.singlePostEdit {
  float: right;
  font-size: 20px;
}
.singlePostIcon {
  margin-left: 12px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}
.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: rgb(119, 90, 18);
  font-family: "Varela Round", sans-serif;
}
.singlePostDesc {
  color: rgb(60, 60, 73);
  line-height: 25px;
  font-weight: 700;
  font-family: "Lora", serif;
  font-size: 17px;
  word-spacing: 2px;
}
.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
.singlePostDescInput {
  border: none;
  color: rgb(142, 142, 151);
  line-height: 25px;
  font-weight: 700;
  font-family: "Lora", serif;
  font-size: 17px;
  word-spacing: 2px;
}
.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  border: none;
  background-color: teal;
  padding: 5px;
  width: 100px;
  color: wheat;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin: 23px;
}
